* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffe4e1;
    color: #db7093;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 700px;
    padding: 20px;
    background-color: #fff0f5;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 182, 193, 0.4);
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #c71585;
}

a {
    color: #db7093;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #c71585;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.back-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #ff69b4, #db7093);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .back-link:hover {
    background: linear-gradient(135deg, #db7093, #ff1493);
    transform: scale(1.1);
  }